<h2>Template-Driven Form</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <!-- <label>Email:</label>
  <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required email>

  <label>Password:</label>
  <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6"> -->

  <label for="numberOne">First Number</label>
  <input type="text" name="numberOne" [(ngModel)]="user.num1">

  <label for="numberSec">Second Number</label>
  <input type="number" name="numberSec" [(ngModel)]="user.num2">

  <button type="submit">Submit</button>
</form>
