<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="./">My testing App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-2">
                <a class="btn btn-success" href="./">Home</a>
            </li>
            <li class="nav-item me-2">
                <a class="btn btn-primary" href="Template-form">Template Driven</a>
            </li>
            <li class="nav-item me-2">
                <a class="btn btn-info" href="Reactive-form">Reactive Form</a>
            </li>
            <li class="nav-item me-2">
                <a class="btn btn-warning" href="get-user-data">Get User Data</a>
            </li>
            <li class="nav-item me-2">
                <a class="btn btn-info" href="control-flow">Control flow</a>
            </li>
            <li class="nav-item me-2">
                <a class="btn btn-primary" href="signal-16">Signal 16</a>
            </li>
            <li class="nav-item me-2">
                <a class="btn btn-secondary" href="signal-17">Signal 17</a>
            </li>
        </ul>
    </div>
</nav>